html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    overflow: hidden;
}

#footer {
    clear: both;
}

body {
    font-family: Open Sans, "Microsoft JhengHei";
}

a {
    outline: none !important;
}

#header {
    position: fixed;
    background-color: #eecfb9;
    color: #161313;
    width: 100%;
    top: 0;
    z-index: 1030;
}

.nav_item_style span {
    color: #595757;
}

.nav_item_style a {
    align-self: center;
    font-size: 14px;
    color: #161313;
    position: relative;
    text-decoration: none;
}

.nav_item_style a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 1px;
    /* 底線高度 */
    background-color: #161313;
    /* 底線颜色 */
    transition: right 0.3s ease;
    /* 過渡效果，使底線動畫顯示 */
}

.nav_item_style a:hover::before {
    right: 0;
}

.nav_item_mb_style li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbarToggler {
    position: fixed;
    top: 7%;
    z-index: 9999;
    background-color: rgb(245, 242, 236);
    height: 100%;
    min-height: 2000px;
    padding: 6% 20px 15px 20px;
}

.fixed_icon_style {
    max-width: 50px;
}

.header_fixed_icon {
    left: auto;
    right: 25px;
    bottom: 60px;
}

.icon_pointer {
    cursor: pointer;
}

#footer {
    background-color: #e3dfd9;
}

.footer-company-logo {
    padding-bottom: 35px;
    padding-top: 35px;
}

.footer-company-info {
    padding-bottom: 20px;
}

.footer-company-info a {
    color: #323232;
    position: relative;
    text-decoration: none;
}

.footer-company-info a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    /* 底線高度 */
    background-color: #323232;
    /* 底線颜色 */
    transition: right 0.3s ease;
    /* 過渡效果，使底線動畫顯示 */
}

.footer-company-info a:hover::before {
    right: 0;
}

.footer-copyright {
    color: #7d7d7d;
    padding-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (max-width: 767px) {
    #cart-qty {
        color: #BE2633;
        position: absolute;
        top: -18px;
        right: 2px;
        background: #D1D1D1;
        border-radius: 50px;
        width: 23px;
        height: 23px;
        text-align: center;
    }
}

.liqunHomeCategory {
    border-radius: 15px;
    border: 1px solid #b9b9b9;
    background-color: #f4f2f2;
    color: #1d1e1e;
    min-width: 120px;
    padding: 5px 12px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.liqunHomeCategoryOuter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

.fridge_style {
    border-radius: 10px;
    background-color: #444340;
    width: 180px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 9;
    top: 15px;
}

#fridge_box {
    cursor: pointer;
}

#fridge_item {
    padding-top: 35px;
    padding-bottom: 35px;
}

#fridge_item a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

#fridge_item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 1px;
    /* 底線高度 */
    background-color: #fff;
    /* 底線颜色 */
    transition: right 0.3s ease;
    /* 過渡效果，使底線動畫顯示 */
}

#fridge_item a:hover::before {
    right: 0;
}

#search_box {
    padding: 5px 15px 5px 15px;
    background-color: #f0ede8;
    border-radius: 20px;
}

#search_box .tb {
    display: table;
    width: 100%;
}

#search_box .td {
    display: table-cell;
    vertical-align: middle;
}

#search_box input {
    color: #fff;
    border: 0;
    background-color: transparent;
    width: 100%;
}

#search_box a {
    font-weight: bold;
    cursor: pointer;
    color: #565555;
    position: relative;
    text-decoration: none;
}

#search_box a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 1.5px;
    /* 底線高度 */
    background-color: #565555;
    /* 底線颜色 */
    transition: right 0.3s ease;
    /* 過渡效果，使底線動畫顯示 */
}

#search_box a:hover::before {
    right: 0;
}

#search_box input[type="text"] {
    color: #000;
}

#search_box input[type="text"]::placeholder {
    color: #919191;
}

#search_box input:focus {
    outline: none;
}

.tag_item {
    font-size: 12px;
    text-align: end;
    color: #7f0d20;
}

.tag_item a {
    color: #7f0d20;
    position: relative;
    text-decoration: none;
}

.tag_item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 1px;
    /* 底線高度 */
    background-color: #7f0d20;
    /* 底線颜色 */
    transition: right 0.3s ease;
    /* 過渡效果，使底線動畫顯示 */
}

.tag_item a:hover::before {
    right: 0;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 2s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

#home_product {
    font-size: 16px;
    line-height: 20px;
}

#home_product a {
    text-decoration: none;
    color: black;
    transition: 500ms ease 0s;
}

#home_product a:hover {
    color: rgba(239, 132, 104, 1.0);
}

#zoomA {
    transition: transform ease-in-out 0s;
}

#zoomA:hover {
    transform: scale(1.05);
}

.product_img_style {
    border-radius: 15px;
    max-width: 900px;
    max-height: 900px;
    width: 100%;
    margin-bottom: 15px;
}

.all_product_category {
    padding-left: 67px;
    padding-right: 67px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .ipad_w {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 767px) {
    .product_box_list {
        padding: 0px 30px 0px 30px;
    }

    .all_product_category {
        padding-left: 52px;
        padding-right: 52px;
    }

    .fridge_style {
        display: none;
    }
}

.transitionAnimation {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}


.section-contents {
    float: left;
    width: 55%;
    /* 使兩者佔據 wrapper 的一點寬度，可以根據實際情況調整 */
}

.section-contents h1,
.section-contents-one h1 {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    border-bottom: 2px solid #ddd;
    padding: 0;
    margin: 0 0 20px 0;
}

.section-contents h1 span,
.section-contents-one h1 span {
    display: inline-block;
    height: 40px;
    color: #facaa8;
    border-bottom: 2px solid #facaa8;
    padding: 0 15px;
}

.section-sidemenu {
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 14%;
    float: left;
    width: 15%;
    /* 使兩者佔據 wrapper 的一點寬度，可以根據實際情況調整 */
}

.section-sidemenu h1,
.section-sidemenu-one h1 {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #facaa8, #f1ded1 50%, #f1ded1 50%, #facaa8);
    border-image-slice: 1;
    padding: 0;
    margin: 0 0 20px 0;
}

.section-sidemenu h1 span,
.section-sidemenu-one h1 span {
    color: #000;
    padding: 0 15px;
}

#menu-btn {
    display: none;
}

@media (min-width: 2300px) {
    .right-content {
        margin-top: 100px;
    }
}

@media (max-width: 1412px) {

    /* 初始時 nav 是關閉的狀態 */
    .section-sidemenu {
        position: absolute;
        left: -100%;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        margin: 0;
        /* 樣式 */
        transform: translateX(-100%);
        /* 將 nav 隱藏在畫面左側 */
    }

    /* 當 isNavOpen 為 true（即 nav 是打開的狀態）時，將其顯示在畫面中間 */
    .section-sidemenu.nav-open {
        position: relative;
        left: 0;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        /* 添加過渡效果 */
        transform: translateX(0);
    }

    .section-contents {
        width: 100%;
    }

    #menu-btn {
        border-radius: 5px;
        text-align: center;
        width: 35px;
        border: 1px solid;
        padding: 5px;
        display: block;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    #menu-btn:hover,
    #menu-btn.active {
        cursor: pointer;
        /* 懸停時顯示手型游標 */
        background-color: #d35448;
    }


    .searchContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-content {
        margin: 3px 20px 20px 20px;
    }

    .right-content {
        width: 100%;
        display: flex;
        align-items: center;
        /* 如果需要給右邊內容添加樣式 */
    }

    /* 主NAV */
    .header-main-nav.d-none,
    .header-main-nav.d-md-none,
    .header-main-nav.d-lg-block,
    .header-main-nav.d-xl-block {
        display: none !important;
    }

    .header-main-nav.d-block,
    .header-main-nav.d-md-block,
    .header-main-nav.d-lg-none,
    .header-main-nav.d-xl-none {
        display: block !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }
}

.sectionRejust {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
}

#memberLoginForm {
    /* border: 8px solid #efefef; */
    box-shadow: 6px 6px 20px grey;
    padding: 30px;
    margin: 50px 10px 60px 10px;
}

#memberLoginForm {
    /* border: 8px solid #efefef; */
    box-shadow: 6px 6px 20px grey;
    padding: 30px;
    margin: 50px 10px 60px 10px;
}

.memberForm {
    /* border: 8px solid #efefef; */
    box-shadow: 6px 6px 20px grey;
    padding: 30px 100px;
    margin: 50px 10px 60px 10px;
}

@media (max-width:767px) {
    .memberForm {
        padding: 30px;
    }
}

.memberTitleMember {
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    color: #facaa8;
}

@media (max-width:500px) {
    .input-group-prepend .input-group-text {
        font-size: 12px;
    }

    .input-group-prepend input {
        font-size: 12px;
    }

    .memberTitleMember {
        font-size: 20px;
    }
}

.memberTitleLogin {
    font-weight: bold;
    color: #ffa361;
}

.memberTitleChinese {
    font-weight: bold;
    padding: 10px;
    margin: 0 0 30px 0;
}

.separator {
    border-left: 1px solid rgb(221, 221, 221);
}

@media (max-width:767px) {
    .separator {
        padding-top: 20px;
        border-left: none;
        border-top: 1px solid rgb(221, 221, 221);
    }
}

#separatorBottom {
    border-bottom: 3px double rgb(221, 221, 221);
}

#formBtnStyle {
    padding: 10px;
}

#loginBtn {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #e30020;
    padding: 8px 20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#loginBtn:hover {
    text-decoration: none;
    background: #ff3333;
}

#eraseBtn {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #333;
    padding: 8px 20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#eraseBtn:hover {
    text-decoration: none;
    background: rgba(0, 0, 0);
}

#memberTxt {
    font-size: 12px;
}

#memberTitle {
    font-size: 16px;
    font-weight: bold;
}

#addMember {
    margin: 20px;
}

#addMemberBtn {
    color: #ddd;
    font-size: 1em;
    font-weight: bold;
    background: #666;
    padding: 8px 20px;
    margin: 20px auto 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#addMemberBtn:hover {
    cursor: pointer;
    text-decoration: none;
    background: #000;
}

#forgotBtn {
    color: #007bff;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#forgotBtn:hover {
    cursor: pointer;
    color: #00c3ff;
    text-decoration: none;
}

#FBgraph {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    color: #fff;
    background-color: #0866ff;
    border: 1px solid #0866ff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

@media (max-width:1000px) {
    #FBgraph {
        font-size: 18px;
    }
}

@media (max-width:450px) {
    #FBgraph {
        font-size: 14px;
    }
}

#FBgraph:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #0088ff;
}

#FBLoginPosition {
    margin-top: 50px;
}

#joinBtn,
#editBtn,
#changeBtn,
#forgotSendBtn,
#contactSendBtn {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #e30020;
    padding: 8px 80px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#joinBtn:hover,
#editBtn:hover,
#changeBtn:hover,
#forgotSendBtn:hover,
#contactSendBtn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #ff3333;
}

.menu-main {
    list-style: none;
    min-height: 42px;
    line-height: 20px;
    color: #000;
    background-position: left 10px top 10px;
    padding: 0;
}

.category_btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    border: none;
    background: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.category_btn.active,
.category_btn:hover,
.category_btn:checked {
    cursor: pointer;
    background-color: #facaa8;
    box-shadow: rgb(223 145 78 / 50%) 0px 3px 8px;
    color: #fff;
}

.menu-main li {
    border-bottom: 1px solid rgba(84, 110, 122, .35);
}

#randomCheckcode {
    cursor: pointer;
    height: 56%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 30.5px;
    right: 0;
}

.paddingFixTop {
    padding: 30px;
}

.cargoText .paddingFixTop {
    font-size: 18px;
}

label.required::before {
    content: '* ';
    color: red;
}

#orderListHeader {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

#memberOrderList {
    box-shadow: 6px 6px 20px grey;
    padding: 30px 60px;
    margin: 50px 0 60px 0;
}

.orderInformation li {
    margin-top: 30px;
    border: 1px solid #e3e3e3;
    background-color: #f9f9f9;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.orderInformation li:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #bfbfbf7f;
}

.orderNumber {
    color: #e30020;
}

.selectedOrderHeader {
    margin-right: 20px;
}

.selectedOrderHeaderBox {
    text-align: left;
    border: 1px solid #e1e1e1;
    padding: 10px 20px;
    margin: 10px 0;
}

.memberOrderContent {
    /* box-shadow: 6px 6px 20px grey; */
    /* padding: 30px 30px; */
    margin: 50px 0 60px 0;
}

.orderContentHeader {
    background-color: #868686;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 40px;
    border-radius: 3px;
    padding-left: 20px
}

.noneOrder {
    width: 100%;
    font-size: 15px;
    color: #DC0003;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto 50px;
}

.selectedOrderList {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

#pagination_bottom {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .pagination {
        font-size: 12px;
    }
}

.pagination {
    margin-top: 30px;
    text-align: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem rem;
    display: block;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.page-item:first-child .page_link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item.disabled .page_link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page_link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #d35448;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.orderDetailButton #goBack {
    padding: 10px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.orderDetailButton #goBack:hover {
    color: #fff;
    background-color: #000;
}

.computeTable {
    text-align: right;
    padding: 20px 0px;
    margin: 60px auto;
    border: 8px solid #efefef;
}

.orderMarginBottom {
    margin-bottom: 50px;
    font-size: 10pt;
}

.shippingInformation {
    height: 29px;
    color: #e30020;
    font-size: 1.3em;
    background: url(/assets/uploads/bg_title.png) no-repeat 0 0px;
    line-height: 10px;
    padding-left: 22px;
    margin: 4% auto 0;
}

.none-order {
    margin: 200px auto 200px auto;
}

.product_category {
    margin: 10px;
    font-size: 14px;
    border: 1px solid #f6d523;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

/* 移動端樣式 */
@media (max-width: 767px) {
    .product-categories {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .product_category {
        display: inline-block;
        width: 100%;
        padding: 6px 2px 6px 2px;
    }
}

#product_index {
    font-size: 18px;
    line-height: 20px;
    align-items: end;
}

#product_index a {
    text-decoration: none;
    color: black;
    transition: 500ms ease 0s;
}

#product_index a:hover {
    color: #f6d523;
}

#product_index .product_name {
    padding-bottom: 10px;
}

#product_index .product_price {
    line-height: 35px;
}

#zoomA {
    transition: transform ease-in-out 0s;
}

#zoomA:hover {
    transform: scale(1.05);
}

.select_product {
    background-color: #f6d523;
    color: #000 !important;
    width: 50%;
    line-height: 1.8;
    padding: 0;
}

.product_img_style {
    border-radius: 15px;
    max-width: 900px;
    max-height: 900px;
    width: 100%;
    margin-bottom: 15px;
}

.product_box,
.product_tag_box {
    padding: 0px 25px 0px 25px;
}

.page-header {
    padding-left: 30px;
    padding-right: 30px;
}

.m_padding {
    padding-bottom: 0px !important;
}

.product_tag_box a {
    font-size: 14px;
    color: #161313;
    position: relative;
    text-decoration: none;
}

.content_auto_h{
    padding-top: 38.39px;
}

@media (max-width: 767px) {

    .product_box,
    .product_tag_box {
        padding: 0px;
    }

    .page-header {
        padding-left: 0px;
        padding-right: 0px;
    }

    #product_index {
        padding: 0px 30px 0px 30px;
    }

    .content_auto_h{
        padding-top: 62.5px;
    }
}