html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    overflow: hidden;
}

#footer {
    clear: both;
}

body {
    font-family: Open Sans, "Microsoft JhengHei";
}

a {
    outline: none;
    text-decoration: none;
}

/* 添加红色 * 的样式 */
label.required::before {
    content: '* ';
    color: red;
}

.memberForm input,
.memberForm select,
.memberForm textarea,
#memberLoginForm input {
    background: #f9f9f9;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #e3e3e3;
}

#absoluteHeader {
    position: absolute;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(239, 132, 104, 1.0);
    padding: 0;
    color: white;
}

#absoluteHeader .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    list-style: none;
    margin: 4px;
    padding: 0;
    display: flex;
}

.header-icons li {
    position: relative;
    float: left;
    padding: 0 13px;
}

.header-icons li:after {
    content: '';
    position: absolute;
    top: 11px;
    right: 0;
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, .5);
}

.header-icons a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.header-icons a:hover {
    color: #ffe747;
}

.header-icons .search-icon {
    display: none;
}

.header-icons .search-icon.visible {
    display: inline-block;
    /* 或其他您想要的顯示屬性 */
}

.main-menu {
    position: relative;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.menu-item a {
    padding: 10px;
    display: inline-block;
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid #ee8369;
}

.sub-menu li {
    cursor: pointer;
    display: inline-block;
    /* 讓 <li> 橫向排列 */
    white-space: nowrap;
    /* 防止文字換行 */
    padding: 0px 10px 0px 25px;
    border-bottom: 1px solid rgba(196, 196, 196, .5);
    width: 100%;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.sub-menu li:hover {
    background: rgba(243, 243, 243, 1);
}

.sub-menu li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    font-size: .95rem;
    color: #383838;
}

.sub-menu>li>a:after {
    content: '';
    position: absolute;
    top: 17px;
    left: -10px;
    display: block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #383838;
    border-bottom: 2px solid #383838;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#mobileMenu {
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #fff;
}

.mobileSubMenu {
    list-style: none;
    padding: 20px 0 15px 55px;
    border-bottom: 1px solid #a5a5a5;
}

.mobileSubMenu:hover {
    background-color: rgba(239, 132, 104, 1.0);
}

.mobileSubMenu a {
    width: 100%;
    height: 100%;
    color: #000;
    display: block;
    text-decoration: none;
}

.mobileSubMenu a::after {
    content: '';
    position: relative;
    /* 使用相對定位 */
    left: -15px;
    top: -13px;
    /* 調整 top 的值以適應你的設計 */
    display: block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #383838;
    border-bottom: 2px solid #383838;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.header_relative_top {
    background-color: #fff;
    position: relative;
    z-index: 999;
}

.header_fixed_top {
    background-color: #fff;
    position: fixed;
    box-shadow: 0 5px 30px 5px #E0E0E0;
    background: url(/assets/uploads/bg_nav.png) 0 0 repeat-x;
    height: 80px;
    width: 100%;
    top: 35px;
    z-index: 1030;
}

.header_logo {
    width: 70%;
}

a.logBtn {
    font-weight: bold;
    align-self: center;
    margin-right: 20px;
    font-size: 18px;
    color: #000;
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.logoutBnt {
    cursor: pointer;
    display: inline-block;
    padding-left: 20px;
    color: #ffe747;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.logoutBnt:hover {
    color: #990000;
}


.logoutPhone {
    font-weight: bold;
    align-self: center;
    margin-right: 20px;
    font-size: 18px;
    color: #000;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    padding-left: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.logoutPhone:hover {
    color: rgba(239, 132, 104, 1.0);
}

.mobile-header-container {
    overflow-y: auto;
    max-height: 80%;
}

.mobile-menu-list {
    margin-top: 0;
    padding-left: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

#navbarToggler {
    position: fixed;
    top: 7%;
    z-index: 9999;
    background-color: rgb(245, 242, 236);
    height: 100%;
    min-height: 2000px;
    padding: 5% 20px 15px 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

@media (max-width:1300px) {
    #navbarToggler {
        padding: 8% 20px 15px 20px;
    }
}

@media (max-width:700px) {
    #navbarToggler {
        padding: 12% 20px 15px 20px;
    }
}

@media (max-width:550px) {
    #navbarToggler {
        padding: 16% 20px 15px 20px;
    }
}

.nav_item_style {
    font-weight: bold;
    align-self: center;
    margin-right: 20px;
    font-size: 18px;
    color: #000;
    padding: 0 10px 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.nav_item_style:hover {
    color: rgba(239, 132, 104, 1.0) !important;
    text-decoration: none;
}

.nav_item_mb_style {
    padding: 15px 0 15px 30px;
    width: 100%;
}

.nav_item_mb_style.active {
    background-color: rgba(239, 132, 104, 1.0);
}

.nav_item_mb_style .nav_item_style {
    display: block;
    width: 100%;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.nav_item_mb_style .nav_item_style:hover {
    color: #fff !important;
}

.navBorderBottom {
    width: 100%;
    border-bottom: 1px solid #afafaf;
}

.fixed_icon_style {
    font-size: -webkit-xxx-large;
    max-width: 40px;
}

.header_fixed_icon {
    left: auto;
    right: 25px;
    bottom: 60px;
}

#fa-instagram-square a {
    color: #DD2A7B;
}

#fa-instagram-square a:hover {
    color: #8134AF;
}

#fa-bag-shopping a {
    color: #ff5a00;
}

#fa-bag-shopping a:hover {
    color: #ef8468;
}

.icon_pointer {
    cursor: pointer;
}

#v-pills-tab-other a {
    color: #fff;
}

#v-pills-tab-other a:hover {
    color: #888787;
}

.footer-company-info h2 {
    font-weight: bold;
}

.footer-company-info a {
    color: #000;
}

.footer-company-info a:hover {
    color: #d35448;
    text-decoration: none;
}

.footer-company-info {
    background-color: #faf5f3;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: 0 5px 30px 5px #E0E0E0;
    font-size: 16px;
}

.footer-copyright {
    background-color: #d35448;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: 0 5px 30px 5px #E0E0E0;
    color: #fff;
    font-size: 14px;
}

#footer {
    margin-top: 30px;
}

#cart-qty {
    color: #BE2633;
    position: absolute;
    top: -30px;
    right: 5px;
    background: #D1D1D1;
    border-radius: 50px;
    width: 23px;
    height: 23px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header_logo {
        width: 100%;
    }

    .top_logo_style {
        position: relative;
        transform: none;
        left: -10px;
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-toggler {
        padding: 0.45rem 0.75rem;
        left: 0px;
        top: 5px;
        position: relative;
    }

    .m_padding {
        padding: 0px !important;
    }

    .top_logo_style {
        position: relative;
        transform: none;
        left: -35%;
        top: 0;
    }

    .m_hr_border {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .header_fixed_icon {
        right: 9px;
    }


}

.active {
    background-color: #d35448;
    border-color: #d35448;
    font-weight: bold;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
    background-color: #fff;
    position: relative;
}

.breadcrumb li {
    margin: 0 10px;
}

.breadcrumb .search {
    color: rgba(211, 84, 72, 0.5);
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-color: rgba(211, 84, 72, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.breadcrumb .search:focus {
    outline: none;
    box-shadow: rgba(211, 84, 72, 0.5) 0px 3px 8px;
    border-color: rgba(211, 84, 72, 1);
}

.breadcrumb .search::placeholder {
    color: rgba(211, 84, 72, 0.5);
}

/* 初始時 nav 是關閉的狀態 */
.section-sidesearch {
    position: absolute;
    top: -100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    /* 將 nav 隱藏在畫面左側 */
}

/* 當 isNavOpen 為 true（即 nav 是打開的狀態）時，將其顯示在畫面中間 */
.section-sidesearch.search-open {
    position: relative;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    /* 添加過渡效果 */
    transform: translateY(0);
}

.sectionRejust {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 120px;
}

.clear-search {
    position: absolute;
    right: 35px;
    top: 20px;
    cursor: pointer;
    color: rgba(211, 84, 72, 0.5);
}

.clear-search:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    color: rgba(211, 84, 72, 1);
}

.product_view_style_out a {
    color: #4e555d;
    font-size: 0.9375rem;
    line-height: 20px;
    margin-top: 10px;
}

.product_view_style_out a:hover span {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    text-decoration: none;
    color: #e30020;
}

.product_view_style_out .product_name {
    /* white-space: nowrap; */
    /* 不換行 */
    overflow: hidden;
    /* 超出部分隱藏 */
    text-overflow: ellipsis;
    /* 超出部分顯示省略號 */
    padding: 10px 10px 30px 10px;
}

.select_product {
    width: 50%;
    line-height: 1.8;
    padding: 0;
}

.product_img_style {
    width: 100%;
    height: auto;
    display: block;
    /* 或者你希望的高度 */
    /* object-fit: cover; */
    /* 保持長寬比，填滿容器，可能會裁剪部分圖片 */
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    #product_index {
        padding: 0px 30px 0px 30px;
    }
}

.pagination {
    margin-top: 30px;
    text-align: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem rem;
    display: block;
}

@media (max-width: 767px) {
    .pagination {
        font-size: 12px;
    }
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
    /* 設定按鈕之間的間距，可根據需求調整 */
}

.page_link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #d35448;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.page_link:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #d35448;
    border-color: #dee2e6;
}

.page_link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(211, 84, 30, .25);
}

.page-item.disabled .page_link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item:first-child .page_link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page_link {
    margin-left: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.section-contents h1,
.section-contents-one h1 {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    border-bottom: 2px solid #ddd;
    padding: 0;
    margin: 0 0 20px 0;
}

.section-contents h1 span,
.section-contents-one h1 span {
    display: inline-block;
    height: 40px;
    color: #d35448;
    border-bottom: 2px solid #d35448;
    padding: 0 15px;
}

.section-sidemenu {
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 14%;
    float: left;
    width: 15%;
    /* 使兩者佔據 wrapper 的一點寬度，可以根據實際情況調整 */
}

.section-contents {
    float: left;
    width: 55%;
    /* 使兩者佔據 wrapper 的一點寬度，可以根據實際情況調整 */
}

#menu-btn {
    display: none;
}

@media (min-width: 2300px) {
    .right-content {
        margin-top: 100px;
    }
}

@media (max-width: 1412px) {

    /* 初始時 nav 是關閉的狀態 */
    .section-sidemenu {
        position: absolute;
        left: -100%;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        margin: 0;
        /* 樣式 */
        transform: translateX(-100%);
        /* 將 nav 隱藏在畫面左側 */
    }

    /* 當 isNavOpen 為 true（即 nav 是打開的狀態）時，將其顯示在畫面中間 */
    .section-sidemenu.nav-open {
        position: relative;
        left: 0;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        /* 添加過渡效果 */
        transform: translateX(0);
    }

    .section-contents {
        width: 100%;
    }

    #menu-btn {
        border-radius: 5px;
        text-align: center;
        width: 35px;
        border: 1px solid;
        padding: 5px;
        display: block;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    #menu-btn:hover,
    #menu-btn.active {
        cursor: pointer;
        /* 懸停時顯示手型游標 */
        background-color: #d35448;
    }


    .searchContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-content {
        margin: 3px 20px 20px 20px;
    }

    .right-content {
        width: 100%;
        display: flex;
        align-items: center;
        /* 如果需要給右邊內容添加樣式 */
    }

    /* 主NAV */
    .header-main-nav.d-none,
    .header-main-nav.d-md-none,
    .header-main-nav.d-lg-block,
    .header-main-nav.d-xl-block {
        display: none !important;
    }

    .header-main-nav.d-block,
    .header-main-nav.d-md-block,
    .header-main-nav.d-lg-none,
    .header-main-nav.d-xl-none {
        display: block !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }
}

.product_view_style_out {
    padding: 15px;
}

.product_view_style_in {
    height: 94%;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eaeaea;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.product_view_style_in:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    transform: scale(1.05);
    -webkit-box-shadow: 0 10px 50px 0 rgba(84, 110, 122, .35);
    box-shadow: 0 10px 50px 0 rgba(84, 110, 122, .35);
}

.category_btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    border: none;
    background: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #d35448;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.category_btn.active,
.category_btn:hover,
.category_btn:checked {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    background-color: #d35448;
    box-shadow: rgba(211, 84, 72, 0.5) 0px 3px 8px;
    color: #fff;
}

.paddingFixTop {
    padding: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.section-sidemenu h1,
.section-sidemenu-one h1 {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #d35448, #ebabab 50%, #ebabab 50%, #d35448);
    border-image-slice: 1;
    padding: 0;
    margin: 0 0 20px 0;
}

.section-sidemenu h1 span,
.section-sidemenu-one h1 span {
    color: #d35448;
    padding: 0 15px;
}

.pagination_bottom {
    font-size: 14px;
    margin-bottom: 50px;
}

.menu-main {
    list-style: none;
    min-height: 42px;
    line-height: 20px;
    color: #000;
    background-position: left 10px top 10px;
    padding: 0;
}

.menu-main li {
    border-bottom: 1px solid rgba(84, 110, 122, .35);
}

.menu-sub {
    list-style: none;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu-sub li {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1)
}

.menu-sub-enter-active,
.menu-sub-leave-active {
    transition: opacity 0.3s;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu-sub-enter,
.menu-sub-leave-to {
    opacity: 0;
}

.price {
    color: #e30020;
    text-align: left;
    margin: 10px 0 0 0;
}

.post_img {
    width: 100%;
    height: auto;
}

.font_color {
    font-size: .9375rem;
    line-height: 20px;
    color: black;
}

.font_color:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    color: #e07f55;
    text-decoration: none;
}

.touch_effect {
    height: 94%;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-top: 30px;
    position: relative;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.touch_effect:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    transform: scale(1.05);
    -webkit-box-shadow: 0 10px 50px 0 rgba(84, 110, 122, .35);
    box-shadow: 0 10px 50px 0 rgba(84, 110, 122, .35)
}

.postImg {
    /* object-fit: cover; */
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postText {
    padding: 0 15px 15px 15px;
}

.postTitle {
    margin: 0;
    font-size: .9375rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* -webkit-box-orient: vertical; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_description img {
    width: 100%;
    max-width: 900px;
    height: 100%;
}

.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

input.qtyplus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}

input.qtyminus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}

.button_border_style_l {
    border: 1px solid #B5ACA5;
    padding: 0px 5px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    color: #524535;
    background: #fff;
}

.button_border_style_r {
    border: 1px solid #B5ACA5;
    padding: 0px 5px 0px 5px;
    border-radius: 0px 5px 5px 0px;
    color: #C52B29;
    background: #fff;
}

.input_border_style {
    background-color: #fff !important;
    border-top: 1px solid #B5ACA5;
    border-bottom: 1px solid #B5ACA5;
    padding: 0px;
    height: 26px;
    text-align: center;
}

#zoomA {
    transition: transform ease-in-out 0s;
}

#zoomA:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    transform: scale(1.05);
}

.product_view_img_style {
    border-radius: 15px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
}

.productDetail {
    padding: 20px;
}

#productApp {
    position: relative;
}

.postDetailStyle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1031;
    /* background-color: #fff; */
    background-color: #fff7eb;
    border: 1px solid rgba(84, 110, 122, .35);
    margin: 5% 15%;
}

@media (max-width:767px) {
    .postDetailStyle {
        margin: 0;
    }
}

.returnBtn {
    z-index: 1032;
    position: fixed;
    top: 50px;
    left: 50px;
    border-radius: 5px;
    text-align: center;
    width: 35px;
    padding: 5px 10px 5px 10px;
    color: #007bff8a;
    background-color: #ffffff8a;
    border: 1px solid #007bff8a;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.returnBtn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
}

.scrollToDetailTop {
    position: sticky;
    bottom: 20px;
    left: 96%;
    margin: 20px;
    padding: 10px 14px;
    color: #007bff8a;
    background-color: #ffffff8a;
    border: 1px solid #007bff8a;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    /* Initial opacity */
}

.scrollToDetailTop:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    color: #fff;
    background-color: #007bff;
}

@media (max-width:767px) {
    .scrollToDetailTop {
        bottom: 15px;
        right: 20px;
    }
}

.cargoBtn {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

#combineSelect.cargoBtn {
    padding: 10px;
}

.cargoText {
    color: #e30020;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.cargoText .paddingFixTop {
    font-size: 18px;
}

.cargoTitle {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
}

.cargoDetail {
    color: rgb(72, 79, 83);
    font-size: 14px;
    margin-bottom: 10px;
}

.cargoCountBtn {
    cursor: pointer;
    padding: 5px;
    color: #007bff7f;
    background-color: #fff;
    border: 1px solid #007bff7f;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.cargoCountBtn:hover {
    color: #fff;
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    text-decoration: none;
    background-color: #007bff7f;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.cargoCountText {
    width: 100%;
    display: inline-block;
    /* 設定為行內塊狀元素，使其寬度生效 */
    padding: 5px;
    color: #007bff7f;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #007bff7f;
    border-right: 0px;
    border-left: 0px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.cargoCountText:focus {
    outline: none;
    border: 1px solid #007bff7f;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.cartBtn {
    background-color: #ffae00;
    border: 1px solid #ffae00;
}

.cartBtn:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    background-color: #ffcc00;
    box-shadow: 0 0 20px #eba10071;
}

.buyBtn {
    background-color: #337ab7;
    border: 1px solid #337ab7;
}

.buyBtn:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    background-color: #0088ff;
    box-shadow: 0 0 20px rgba(9, 128, 213, 0.503)
}

.likeBtn {
    background-color: #f53651;
    border: 1px solid #f53651;
}

.likeBtn:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    background-color: #ff0022;
    box-shadow: 0 0 20px rgba(213, 9, 9, 0.503)
}

.explainBtn {
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
}

.explainBtn:hover {
    cursor: pointer;
    /* 懸停時顯示手型游標 */
    background-color: #1a1a1a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.503)
}

.cargoClick {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid;
    display: inline-block;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.cargoDescription {
    margin: 80px 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.cargoDescription img {
    height: auto;
    max-width: 100%;
}

@media (max-width: 1300px) {
    .cargoDescription {
        margin: 80px 0;
    }
}

@media (max-width: 767px) {
    .cargoDescription {
        margin: 0;
    }
}

.postContentStyle {
    padding: 20px 50px;
}

.postContentStyle img {
    max-width: 100%;
    height: auto;
}

.newsText {
    font-size: 18px;
}

.link_href {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}

.link_href a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#phone_href {
    color: #46c12e;
}

#phone_href:hover {
    color: #32971d;
}

#email_href {
    color: #a16bcc;
}

#email_href:hover {
    color: #773ba8;
}

.contentMarginBottom {
    margin-bottom: 100px;
}

#aboutImg {
    height: auto;
    width: 60%;
}

#memberLoginForm {
    /* border: 8px solid #efefef; */
    box-shadow: 6px 6px 20px grey;
    padding: 30px;
    margin: 50px 10px 60px 10px;
}

.memberForm {
    /* border: 8px solid #efefef; */
    box-shadow: 6px 6px 20px grey;
    padding: 30px 100px;
    margin: 50px 10px 60px 10px;
}

@media (max-width:767px) {
    .memberForm {
        padding: 30px;
    }
}

.memberTitleMember {
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    color: #ff6b6b;
}

@media (max-width:500px) {
    .input-group-prepend .input-group-text {
        font-size: 12px;
    }

    .input-group-prepend input {
        font-size: 12px;
    }

    .memberTitleMember {
        font-size: 20px;
    }
}

.memberTitleLogin {
    font-weight: bold;
    color: #e62626;
}

.memberTitleChinese {
    font-weight: bold;
    padding: 10px;
    margin: 0 0 30px 0;
}

.separator {
    border-left: 1px solid rgb(221, 221, 221);
}

@media (max-width:767px) {
    .separator {
        padding-top: 20px;
        border-left: none;
        border-top: 1px solid rgb(221, 221, 221);
    }
}

#separatorBottom {
    border-bottom: 3px double rgb(221, 221, 221);
}

#formBtnStyle {
    padding: 10px;
}

#loginBtn {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #e30020;
    padding: 8px 20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#loginBtn:hover {
    text-decoration: none;
    background: #ff3333;
}

#eraseBtn {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #333;
    padding: 8px 20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#eraseBtn:hover {
    text-decoration: none;
    background: rgba(0, 0, 0);
}

#memberTxt {
    font-size: 12px;
}

#memberTitle {
    font-size: 16px;
    font-weight: bold;
}

#addMember {
    margin: 20px;
}

#addMemberBtn {
    color: #ddd;
    font-size: 1em;
    font-weight: bold;
    background: #666;
    padding: 8px 20px;
    margin: 20px auto 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#addMemberBtn:hover {
    cursor: pointer;
    text-decoration: none;
    background: #000;
}

#forgotBtn {
    color: #007bff;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#forgotBtn:hover {
    cursor: pointer;
    color: #00c3ff;
    text-decoration: none;
}

#joinBtn,
#editBtn,
#changeBtn,
#forgotSendBtn,
#contactSendBtn {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #e30020;
    padding: 8px 80px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#joinBtn:hover,
#editBtn:hover,
#changeBtn:hover,
#forgotSendBtn:hover,
#contactSendBtn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #ff3333;
}

#contactEraseBtn {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #333;
    padding: 8px 80px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#contactEraseBtn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #000000;
}

@media (max-width:1522px) {

    #contactSendBtn,
    #contactEraseBtn {
        padding: 8px 20px;
    }
}

@media (max-width:576px) {

    #joinBtn,
    #editBtn,
    #changeBtn,
    #forgotSendBtn {
        padding: 8px 30px;
    }

    #contactSendBtn,
    #contactEraseBtn {
        padding: 8px 15px;
    }
}

.alert {
    margin-bottom: 50px;
}

#orderListHeader {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

#memberOrderList {
    box-shadow: 6px 6px 20px grey;
    padding: 30px 60px;
    margin: 50px 0 60px 0;
}

.orderInformation li {
    margin-top: 30px;
    border: 1px solid #e3e3e3;
    background-color: #f9f9f9;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.orderInformation li:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #bfbfbf7f !important;
}

.orderNumber {
    color: #e30020;
}

.selectedOrderHeader {
    margin-right: 20px;
}

.selectedOrderHeaderBox {
    text-align: left;
    border: 1px solid #e1e1e1;
    padding: 10px 20px;
    margin: 10px 0;
}

.memberOrderContent {
    /* box-shadow: 6px 6px 20px grey; */
    /* padding: 30px 30px; */
    margin: 50px 0 60px 0;
}

.orderContentHeader {
    background-color: #868686;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 40px;
    border-radius: 3px;
    padding-left: 20px
}

.noneOrder {
    width: 100%;
    font-size: 15px;
    color: #DC0003;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto 50px;
}

.selectedOrderList {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.computeTable {
    text-align: right;
    padding: 20px 0px;
    margin: 60px auto;
    border: 8px solid #efefef;
}

.tableOut {
    height: auto;
    width: 100%;
}

.tableOut tbody tr th {
    padding: 10px;
}

.partitionLine {
    border-bottom: 1px dotted #ccc;
}

.alignItemEnd {
    align-items: end;
}

.alignItemBaseLine {
    align-items: baseline;
}

#FBgraph {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    color: #fff;
    background-color: #0866ff;
    border: 1px solid #0866ff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

@media (max-width:1000px) {
    #FBgraph {
        font-size: 18px;
    }
}

@media (max-width:450px) {
    #FBgraph {
        font-size: 14px;
    }
}

#FBgraph:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #0088ff;
}

#FBLoginPosition {
    margin-top: 50px;
}

.orderMarginBottom {
    margin-bottom: 50px;
    font-size: 10pt;
}

.orderDetailButton {
    margin-bottom: 40px;
}

#allReadingButton {
    margin-top: 40px;
}

.orderDetailButton .orderBtn {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    color: #d35448;
    background-color: #fff;
    border: 1px solid #d35448;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.orderDetailButton .orderBtn:hover {
    color: #fff;
    background-color: #d35448;
}

.operateBtn {
    margin: 40px 0;
    text-align: center;
}

#completePay {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #e30020;
    padding: 8px 80px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#completePay:hover {
    text-decoration: none;
    cursor: pointer;
    background: #ff3333;
}

#cancelOrder {
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #333;
    padding: 8px 80px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#cancelOrder:hover {
    text-decoration: none;
    cursor: pointer;
    background: #000;
}

@media (max-width:600px) {

    #completePay,
    #cancelOrder {
        padding: 8px 20px;
    }
}

#randomCheckcode {
    cursor: pointer;
    height: 56%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 30.5px;
    right: 0;
}

#randomCheckcodeContact {
    cursor: pointer;
    height: 55%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 30.5px;
    right: 15px;
}

.tab.reset {
    list-style: none;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

.tab.reset .current {
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}

.tab.reset span {
    color: #fff;
    text-decoration: none;
    border-top-color: #333;
    border-left-color: #333;
    border-right-color: #333;
    background-color: #333;
    cursor: default;
    position: relative;
    display: block;
    height: 40px;
    font-size: 1rem;
    line-height: 26px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid;
    border-bottom: none;
    padding: 7px 50px;
}

#termsOfMembership {
    font-size: 14px;
    position: fixed;
    width: 1000px;
    height: auto;
    background: #fff;
    top: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #efefef;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
    /* 防止内容被滚动条遮挡 */
}

.membershipContent {
    max-height: calc(100% - 160px);
    max-width: 100%;
    color: #333;
    line-height: 2em;
    text-align: justify;
    margin: 20px 0 10px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 15px;
}


@media (max-width: 600px) {
    #termsOfMembership {
        padding: 50px 15px 15px 15px;
    }
}

@media (max-width: 1100px) {
    #termsOfMembership {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
    }

    .membershipContent {
        margin: 20px auto 10px;
    }
}

.membershipLine {
    width: 100%;
    height: auto;
    line-height: 20px;
    background: url(/assets/uploads/line_repeat_x.png) repeat-x 0 top;
    overflow: hidden;
    padding-top: 20px;
}

.mfpMember {
    color: #e30020 !important;
}

.mfpMember:hover {
    cursor: pointer;
    color: #ff7083 !important;
}

.homeAppear {
    align-items: center;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 55px 40px 45px 40px;
    position: relative;
    max-width: 100%;
}

.homeAppear .mainText {
    color: #333333;
    font-family: 'Cormorant Infant', 'Noto Serif JP';
    font-size: 38px;
    font-weight: 500;
    height: auto;
    letter-spacing: 0.3em;
    line-height: 1.4;
    margin: 0px 0px 5px 10px;
    text-align: center;
    width: auto;
    max-width: calc(100% - 10px);
}

.homeAppear .subText {
    color: #888888;
    display: flex;
    font-family: Inter;
    font-size: 8px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin: 15px 0px 0px 0px;
    position: relative;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.homeAppear .yukaline {
    background: #EEEEEE;
    flex: none;
    height: 2px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.header-second-container {
    background: #fff url() 50% 0;
}

.product-container {
    max-width: 1155px;
    /* 设置一个最大宽度，根据需要调整 */
    margin: 0 auto;
    /* 设置左右外边距为自动，实现水平居中 */
    overflow: hidden;
    /* 避免内部内容溢出 */
    position: relative;
}

.product-row-container {
    overflow: hidden;
    /* 避免內部內容溢出 */
    width: calc((270px + 25px) * 12);
    /* 每個商品寬度 + 間距，乘以商品數量 */
}

.product-row {
    display: flex;
    transition: transform 0.3s ease;
    justify-content: center;
    /* 在主轴上居中 */
    align-items: center;
    /* 在交叉轴上居中 */
}

.homeProductPreview {
    position: relative;
    overflow: hidden;
    width: 270px;
    margin-right: 25px;
    transition: filter 0.3s ease;
    /* 添加過渡效果 */
}

@media (max-width: 768px) {
    .product-row-container {
        width: calc((257.8px) * 12);
    }

    .product-row {
        width: 121.2%;
    }
}

@media (max-width: 541px) {
    .product-row-container {
        width: calc((255.8px) * 12);
    }

    .product-row {
        width: 124%;
    }
}

@media (max-width: 451px) {
    .product-row-container {
        width: calc((255.8px) * 12);
    }

    .product-row {
        width: 121.2%;
    }
}

@media (max-width: 441px) {
    .product-row-container {
        width: calc((254.2px) * 12);
    }

    .product-row {
        width: 121.6%;
    }
}

@media (max-width: 436px) {
    .product-row-container {
        width: calc((254.2px) * 12);
    }

    .product-row {
        width: 121.5%;
    }
}

@media (max-width: 431px) {
    .product-row-container {
        width: calc((254.2px) * 12);
    }

    .product-row {
        width: 121.2%;
    }
}

@media (max-width: 421px) {
    .product-row-container {
        width: calc((254.2px) * 12);
    }

    .product-row {
        width: 121%;
    }
}

@media (max-width: 416px) {
    .product-row-container {
        width: calc((254.2px) * 12);
    }

    .product-row {
        width: 120.8%;
    }
}

@media (max-width: 413px) {
    .product-row-container {
        width: calc((253.1px) * 12);
    }

    .product-row {
        width: 121.2%;
    }
}

@media (max-width: 396px) {
    .product-row-container {
        width: calc((251.9px) * 12);
    }

    .product-row {
        width: 121.3%;
    }
}

@media (max-width: 394px) {
    .product-row-container {
        width: calc((251.8px) * 12);
    }

    .product-row {
        width: 121.2%;
    }
}

@media (max-width: 391px) {
    .product-row-container {
        width: calc((254.1px) * 12);
    }

    .product-row {
        width: 120.06%;
    }
}

@media (max-width: 376px) {
    .product-row-container {
        width: calc((253px) * 12);
    }

    .product-row {
        width: 120%;
    }
}

@media (max-width: 361px) {
    .product-row-container {
        width: calc((252.1px) * 12);
    }

    .product-row {
        width: 120%;
    }
}

@media (max-width: 321px) {
    .product-row-container {
        width: calc((249.2px) * 12);
    }

    .product-row {
        width: 120%;
    }
}

.homeProductPreview:hover {
    cursor: pointer;
    filter: brightness(0.8);
    /* 滑鼠懸停時降低亮度（變暗） */
}

.homeProductPreview a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
}

.homeProductPreview .homepic {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.homeProductPreview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    /* 添加過渡效果 */
}

.homeProductPreview:hover img {
    filter: brightness(0.8);
    /* 滑鼠懸停時降低亮度（變暗） */
}

.homeProductPreview:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 70px;
    height: 70px;
    background: url(/assets/uploads/ic_listmask.png) no-repeat;
    background-size: 70px 70px;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
    /* 添加 rotate 属性 */
    transition: all .3s ease-in-out;
    z-index: 10;
}

.homeProductPreview:hover:after {
    transform: translate(-50%, -50%) rotate(360deg);
    /* 鼠标悬停时旋转360度 */
    opacity: 1;
}

.hometxt {
    color: #888888;
    height: 60px;
    padding: 10px;
    text-align: center;
    background-color: #fbfbfb;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    transition: opacity 0.3s ease;
}

.nav-btn:hover {
    opacity: 0.9;
}

.nav-btn span {
    font-size: 24px;
    line-height: 1;
    padding: 10px;
}

.prev-btn {
    z-index: 1;
    left: 0;
}

.next-btn {
    right: 0;
}

.homepic {
    width: 270px;
    height: 270px;
    overflow: hidden;
}

.homeMoreAppear {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 55px 40px 45px 40px;
    position: relative;
    max-width: 100%;
}

.homeMoreAppear a {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    align-items: center;
    border: 1px solid #000;
    color: #000 !important;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    max-width: 450px;
}

.homeMoreAppear a p {
    font-size: 14px;
    align-self: center;
    margin: 0;
    position: relative;
    z-index: 2;
    /* 提高層級，使其處於 ::before 之上 */
}

.homeMoreAppear a p {
    font-family: 'Cormorant Infant', 'Noto Serif JP' !important;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.4;
    text-align: center;
    width: auto;
    max-width: 100%;
}

.homeMoreAppear a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
    transition: width 0.3s ease;
    /* 設定過渡效果 */
}

.homeMoreAppear a:hover::before {
    width: 100%;
}

.homeMoreAppear a:hover {
    color: #fff !important;
}

.intro {
    margin-bottom: 20px;
    text-align: center;
    visibility: visible;
    animation-name: fadeIn;
}

.introText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 5px;
    background-color: #D35549;
    color: #FFFFFF;
    text-align: center;
}

.cursorPoint {
    cursor: pointer;
}

.none-order {
    margin: 200px auto 200px auto;
}

.trackingButton {
    cursor: pointer;
}

.shippingInformation {
    height: 29px;
    color: #e30020;
    font-size: 1.3em;
    background: url(/assets/uploads/bg_title.png) no-repeat 0 0px;
    line-height: 10px;
    padding-left: 22px;
    margin: 4% auto 0;
}

.cargoSubHeader {
    margin: 40px 5px 10px 5px;
    background-color: #D35549;
    color: #ffffff;
    padding: 5px 5px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}

.subCategoryGraph {
    padding: 40px 10px;
    /* border-bottom: 1px solid; */
}

.subCategoryGraph img {
    width: 100%;
    border: 1px solid #ddd;
    /* 可以添加邊框效果 */
    border-radius: 8px;
    /* 可以添加圓角效果 */
    transition: transform 0.3s;
    /* 添加 hover 效果 */
}

.subCategoryGraph img:hover {
    transform: scale(1.1);
    /* 放大 1.1 倍的效果，可根據需要調整 */
}

.subSubCategoryContent div p {
    /* padding: 10px; */
    font-size: 16px;
}

.edit img {
    width: 80%;
    height: auto;
}

.artist img {
    width: 90%;
    height: auto;
}

.artist .sub img {
    width: 300px;
    height: auto;
}

.artist .artist_link img {
    width: 150px;
    height: 150px;
}

.itemPrice {
    color: #e30020;
}

.mailDescription {
    display: inline-block;
    width: 100px;
    /* 设置宽度 */
    white-space: nowrap;
    /* 防止换行 */
    overflow: hidden;
    /* 隐藏超出部分 */
    text-overflow: ellipsis;
    /* 在超出部分显示省略号 */
}

.mailContentBox {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #bebebe;
}

.mailContent {
    font-size: 16px;
    padding: 10px;
}

.mailContentTitle {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.redContent {
    color: #e30020;
}

#languageSelector {
    position: absolute;
    top: 10px;
    /* 距離窗口頂部的距離 */
    z-index: 9999;
    /* 確保它在其他內容之上 */
    border: 1px solid #ccc;
    /* 邊框 */
    border-radius: 5px;
    /* 圓角 */
}

#languageSelector select {
    padding: 8px 20px;
    /* 內邊距 */
    font-size: 16px;
    /* 字體大小 */
    border: 1px solid #ccc;
    /* 邊框 */
    border-radius: 5px;
    /* 圓角 */
    background-color: #fff;
    /* 背景色 */
    -webkit-appearance: none;
    /* 移除默認樣式 */
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    /* 指標 */
}

/* 選擇狀態下的樣式 */
#languageSelector select:hover,
#languageSelector select:focus {
    border-color: #999;
    /* 鼠標懸停或焦點時的邊框顏色 */
}

/* 修改滾動條 */
::-webkit-scrollbar {
    width: 8px;
    /* 設置滾動條寬度 */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* 設置滾動條軌道的背景顏色 */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* 設置滾動條手柄的顏色 */
    border-radius: 4px;
    /* 設置圓角 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* 滑鼠懸停時的顏色 */
}

[v-cloak] {
    display: none;
}